html {
    scroll-behavior: smooth;
  }
body{
    /**background-image:url("images/background.jpg");
    background-repeat: no-repeat;
    background-position:center center;
    background-attachment: fixed;
    background-size:cover;**/
    background-color:#222222;
    height:cover;
    color:#db71a0;
    margin: 0;
    padding: 0;
    font-family:'Comfortaa', cursive;
}
    
header{
    
        background-size: 100%;
        text-align:right;
        background-repeat: no-repeat;
        background-position:center;
        padding: 20px;
        height: 100vh;
        width:200px 80px;
        
    }
h1, h2{
    text-align: center;
    
}
h1{
    padding: 20% 0% 0 0px;
    font-size: 350%;
    font-weight: bold;
}

.about, .education, .skills{
    background-color:#222222;
    color:#fff391;
}

.about h2, .education h2, .skills h2{
    padding: 5% 0 0 0;
}
.about p{
    
    width: 50%;
    padding: 2% 5% 5% 5%;
    border: 1px solid gray;
    margin: 0 0 0 26%;
    border-style: hidden;
    
}

/**header .logo a{
    background-image: url("images/logo.png");
    background-size:100px;
    background-repeat:no-repeat;
    display: inline-block;
    position:relative;
    height:80px;
    width: 100px;
    padding: 0 100px 0 100px;
    top:-40px;
    text-indent: -9999999999px;
    color:red;
    
}**/


section{
    background:#222222;
    color:#222222;
    padding: 0px;
    /*display:flex;
    flex-direction: row;*/
}

/**.feature-box div{
    width: 100px;
    margin:auto;
}

.feature-box.sales div{
    background: blue;
}
**/

ul{
    margin: 0;
    padding: 0 5%;
    list-style-type: none;
    text-decoration: none;
}

a{
    text-decoration:none;   
    color: #71DB77;
    
}

a:hover{
    color:lightblue;
    text-decoration: none;
}
li{
    display:inline-block;
    padding: 2px;
    margin-left: 50px;
    text-decoration: none;
}
li:first-child{
    margin-left: 0px;
}

.hs{
    padding: 0 5%;
}

.year{
    text-align:right;
    margin-left:60%;
   
}

.course{
    padding: 0 0 0 0;
    color:lightgray;
    
}


footer{
    background:#222222;
    padding: 10px 20px;
    color:#71DB77;
}



/**.leftside, .right{
    height: 100vh;
    width: 100%
}

.leftside{
    background: red
}

.right{
    background: lightgreen
}**/




